
html {
  font-family:'helvetica neue';
}

body {
  margin: 0;
}

.page-layout-container {
  display: flex;
  justify-content: center;
}

.page-content-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-content: stretch;
  justify-content: space-between;
}

.nav-bar {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #53c;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: space-around;
}

body.fixed-nav .nav-bar {
  top 0;
  z-index: 100;
  position: fixed;
  wdith: 100%;
}

.test-nav {
  visibility: hidden;
  list-style: none;
  z-index: -100;

}

.nav-item {
  background: #222;
  margin 4px;
  color: #ccc;
  font-weight: regular;
  font-size: 1.5em;
  text-align: center;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}

div.flex-titlebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

div.subtitle-div {
    background-color: #8cf;;
    font-size: 1em;
    padding = 5px;
    text-align: center;
}

div.title-div {
    background-color: #29c;
    font-size: 3em;
    border: 5px solid black;
    text-align: center;
}

div.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section2 { background-color: #333; }

div.section-header {
  text-align: center;
  font-size: 3em;
  background-color: #333;
  color: #ccc;
  align-self: stretch;
  margin: 4px;
}
div.section-description {
  background-color: #6c9;
  background-color: #222;
  color: #bbb;
  font-size: 1em;
  padding: 4px;
  margin-left: 1vw;
  margin-right: 1vw;
  align-self: stretch;
  text-align: center;
}
div.portfolio-items {
  flex: 1 5 400px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#page1 {
  visibility: visible;
}
#page2 {
  visibility: collapse;
}
#page3 {
  visibility: collapse;
}

.svg-item {
  flex: 1 1 auto;
  top: 0;
  left: 0;
  width: 400px;
  background-color: #fff;
  margin: 1vw;
}

.svg-item.squareSVG {

}
.svg-item.wideSVG {

}
.sg-item.tallSVG {

}

.page-select-bar {
  display: flex;
  justify-content: center;
  background-color: #222;
}

.page-button {
  width: 10vh;
  height: 10vh;
  font-size: 1.5em;
  margin-bottom: 1vw;
}
#button1 {}
#button2 {}
#button3 {}
